* {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: 'Lato', sans-serif;
    color:white;
}

/*GRID*/

.container {
    max-width: 2300px;
    width: 85%;
    margin:0 auto;

}

.container .row{
    margin-bottom: 20px;
}
.container .row::before, .container .row::after {
    content: '';
    display: table;
    clear: both; }
.container .row [class*='col-'] {
    float: left;
    min-height: 1px; }
.container .row .col-1 {
    width: 8.33%; }
.container .row .col-2 {
    width: 16.66%; }
.container .row .col-3 {
    width: 24.99%; }
.container .row .col-4 {
    width: 33.32%; }
.container .row .col-5 {
    width: 41.65%; }
.container .row .col-6 {
    width: 49.98%; }
.container .row .col-7 {
    width: 58.31%; }
.container .row .col-8 {
    width: 66.64%; }
.container .row .col-9 {
    width: 74.97%; }
.container .row .col-10 {
    width: 83.3%; }
.container .row .col-11 {
    width: 91.63%; }
.container .row .col-12 {
    width: 99.96%; }

/*------------------------------------------------*/

.container2 {
    width:100%;
    background-color: rgb(241,241,241);
}
.container_empty {
    width: 100%;
    height:120px;
}

header {
    background-color: black;
    color:white;
}

#logo {
    float:left;
    margin: 10px;
}
#logo h2 {
    color:#fff;
}

#header_info h1 {
    padding-top: 70px;
    font-size: 2.8em;
    color:black;
}

#header_info p{
    padding-top: 30px;
    font-size: 17px;
    line-height: 25px;

}

/*NAVBAR with DROPDOWN MENU*/
.dropdown_menu{
    float:left;
    display:block;
}
.dropdown_menu .dropdown_submenu {
    display:none;
    position: absolute;
    padding-top:20px;
}
.menu {

    width:300px;

.menu .wrapper {
    width: 100px;
    height:50px;
    background-color: red;
    position:relative;

}
}
.submenu {
    position: absolute;
    top:78px;
    right: 320px;
    display:none;
    width:130px;
    height:125px;
    background-color: black;
}
.submenu.block {
    display: block;
}
.triangle.block {
    display: block;
}
.triangle {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom:15px solid black;
    position:absolute;
    top:65px;
    right:398px;
    display: none;
}
/*rozwiaznie/
.in {
display:none;}

.in {width:50px;
height:50px;
background:blue;
position:absolute;
botteom: -60px; }
.wrapper.block {
display:block;}

HTML
<div class =test>
    <div class=wrapper>
    <div class="in">
    </div>
    </div>

 */


.dropdown_content{
    line-height: 30px;
    position:absolute;
    z-index:1;
    top:80px;
    width:100px;
    height:100px;
    background-color: black;
    display:none;
    text-align: left;
    padding:5px;


}

/*.dropdown_content::before{
    content:'';
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom:40px solid red;
    position:absolute;
}*/


.dropdown:hover .dropdown_content {
    display:block;
}
.dropdown:hover #triangle{
    display:block;
}
.dropdown_content a:hover {
    color: rgb(0,196,162);
}

header nav {
    float:right;
    margin:10px;
}

header li {
    float:left;
    display: inline;
    padding:10px;
    font-weight: 600;
}
a {
    text-decoration: none;
    color:white;
}

/*------------------------*/

.highlight {
    color:rgb(0,196,162);
}

.showcase {
    overflow: hidden;
    height:670px;
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(229,229,229) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(229,229,229) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
}


#arrow1 {
    color:rgb(0,196,162);
    float:left;
    font-size: 115px;
    margin-top: 120px;
}

/* to mozna zrobic before/after - wyprobowac*/


#arrow2 {
    color: rgb(0,196,162);
    float:right;
    font-size: 115px;
    margin-top: 120px;
}
/*------------------------------------------------SLIDER---------------------------------------------------*/
.gallery_wrapper {
width:100px;
overflow: hidden;
    margin:0 auto;
}

.slides {
width: 2500px ; /*TO MIESCIE WSZYSTKIE SLAJDY*/
animation: slider 3s infinite;
}

.slides:before,.slides:after {
content: '';
display: table;
clear: both;
}

.slide {
float:left;
width: 100px;
height: 100px;
background:red;
}

.slide2 {
background:blue;
}
.slide3 {
background:orange;}

@keyframes slider {
0% {
margin-left: 0;
}
30% {
margin-left: -100px;}

50% {
margin-left: -200px;
}
70% {
    margin-left: -100px;
}
100% {
margin-left: 0px;
}

/*-----------------------------------------------------------------------------------------------------------------*/

}
#img_chair {
    box-sizing: border-box;
    background-size:cover;
    width:100%;
    margin:auto;
    background-repeat: no-repeat;

}
#header_info {
    float:right;
    text-align: center;
    width: 50%;
    height:400px;
    box-sizing: border-box;
    color:grey;
    margin-right:40px;
}
button {
    margin-top: 30px;
    background-color: rgb(0,196,162);
    color:#FFFFFF;
    padding:20px;
    border-radius: 15px;
    box-shadow: none;
    font-size: 1.7em;
    width: 40%;
}

.boxes {
    margin:auto;
    margin-top: 35px;
    margin-bottom: 100px;
}
.boxes #box1{

    float:left;
    background-image: url("img/box1_img.jpg");
    width:30%;
    text-align: center;
    padding:10px;
    margin:5px;
    background-size: 85%;
    background-repeat: no-repeat;
    height:300px;
    background-position: center;
}

.boxes #box2{

    background-image: url("img/box2_img.jpg");
    float:left;
    width:30%;
    text-align: center;
    padding:10px;
    margin:5px;
    background-size: 85%;
    background-repeat: no-repeat;
    height:300px;
    background-position: center;

}

.boxes #box3{
    font-size: 17px;
    line-height: 25px;
    border: 2px solid grey;
    float:left;
    width:30%;
    text-align: center;
    padding:10px;
    margin:5px;
    height:300px;
    color:grey;
}
.opacity {
    margin:auto;
    margin-top: 190px;
    width: 88%;
    height:30%;
    background-color: rgb(231,227,222, 0.65);
}
.opacity h3{
    text-align: left;
    font-weight: 500;
    padding:10px;

}
.underline {
    width: 40%;
    height:8px;
    background-color: rgb(0,196,162);
    margin-left:10px;
}


h5 {
    margin-top: 20px;
    font-size: 1.2em;

}


/* PRICES */

.plans_prices {
    background-color: rgb(241,241,241);
}

.plans_prices > .small_ring{
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    left: 400px;
    top: 1345px;
    z-index: 1;
    border: 1px solid grey;
}



.small_ring2{
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    left: 977px;
    top: 1345px;
    z-index: 1;
    border: 1px solid grey;
}
.small_ring3{
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    right: 443px;
    top: 1345px;
    z-index: 1;
    border: 1px solid grey;
}
.plan {
    box-sizing: border-box;
    position:relative;
    float:left;
    width:30%;
    border: 1px solid grey;
    height:600px;
    margin: 100px 50px 50px 5px;
    background-color: rgb(249,249,249);
    overflow: hidden;

}

.plan2 {
    box-sizing: border-box;
    position:relative;
    float:left;
    width:30%;
    border: 1px solid grey;
    height:600px;
    margin: 100px 50px 50px 5px;
    background-color: rgb(249,249,249);
    overflow: hidden;

}
.plan2:hover {
    box-sizing: border-box;
    position:relative;
    float:left;
    width:30%;
    border: 5px solid rgb(0,196,162);
    height:600px;
    margin: 100px 50px 50px 5px;
    background-color:rgb(0,196,162);
    overflow: hidden;
}
.plan2:hover .plan_font_2{
    font-size: 1.6em;
    color: white;
}


.plan2:hover .price_ring{
    height: 160px;
    width:160px;
    background-color: white;
    border-radius: 50%;
    border:1px solid white;
    position:absolute;
    top:150px;
    left: 190px;
    color:rgb(0,196,162);
}
.plan2:hover .button_price{
    background-color: white;
    color:rgb(0,196,162);
    padding:10px;
    box-shadow: none;
    position:relative;
    left: 188px;
    top:250px;
    width:30%;
    border-radius: 11%;
    font-size: 1.3em;
}

.plan:hover .price_ring p{
    color:rgb(0,196,162);
}
.plan2:hover .price_ring p{
    color:rgb(0,196,162);
}
.plan:hover {
    box-sizing: border-box;
    position:relative;
    float:left;
    width:30%;
    border: 5px solid rgb(0,196,162);
    height:600px;
    margin: 100px 50px 50px 5px;
    background-color:rgb(0,196,162);
    overflow: hidden;
}

.plan:hover .plan_font{
    font-size: 1.6em;
    color: white;
}


.plan:hover .price_ring{
    height: 160px;
    width:160px;
    background-color: white;
    border-radius: 50%;
    border:1px solid white;
    position:absolute;
    top:150px;
    left: 190px;
}
.plan:hover .button_price{
    background-color: white;
    color:rgb(0,196,162);
    padding:10px;
    box-shadow: none;
    position:relative;
    left: 188px;
    top:250px;
    width:30%;
    border-radius: 11%;
    font-size: 1.3em;
}

.plan:hover .price_ring p{
    color:rgb(0,196,162);
}

.plan_title{
    width:100%;
    position:absolute;
    top:40px;
    left:180px;
}
.plan_font {
    font-size: 1.6em;
    color: rgb(0,196,162);
}
.plan_font_2{
    font-size: 1.6em;
    color: rgb(130,130,130);

}
.price_ring {
    height: 160px;
    width:160px;
    background-color: white;
    border-radius: 50%;
    border:1px solid grey;
    position:absolute;
    top:150px;
    left: 190px;

}

.price_ring p {
    padding: 0px;
    font-size: 1.8em;
    position:absolute;
    top:40px;
    color:rgb(130,130,130);
    text-align: center;

}

/*.small_ring {
    width:60px;
    height:60px;
    border-radius: 50%;
    background-color: white;
    position:absolute;
    left: 240px;
    top: -50px;
    z-index: 1;
    border: 1px solid grey;
}*/
.smaller_ring {
    position:absolute;
    left:16px;
    top:15px;
    width:50%;
    height:30px;
    border-radius: 50%;
    background-color: rgb(193,193,193);

}

.plan_info {
    position:relative;
    top:340px;
    height:220px;
    margin:auto;
}
.mini_container_grey {
    width:100%;
    height:35px;
    box-sizing: border-box;
    position:relative;
    text-align: center;
    background-color: rgb(227,227,227);
    font-size: 1.6em;
    color:rgb(130,130,130);
}
.mini_container_lightgrey {
    width:100%;
    height:35px;
    box-sizing: border-box;
    position:relative;
    text-align: center;
    background-color: rgb(241,241,241);
    font-size: 1.6em;
    color: rgb(130,130,130);


}
.mini_container_white {
    width:100%;
    height:35px;
    box-sizing: border-box;
    position:relative;
    text-align: center;
    background-color: white;
    font-size: 1.6em;
    color:rgb(130,130,130);
}

.button_price {
    background-color: rgb(0,196,162);
    color:#FFFFFF;
    padding:10px;
    box-shadow: none;
    position:relative;
    left: 188px;
    top:250px;
    width:30%;
    border-radius: 11%;
    font-size: 1.3em;

}

#box3 h3 {
    text-align: left;
    padding: 10px 0 5px 10px;
}

#box3 p {
    padding-top:10px;
}
.container > h3{
    margin-left:5px;
    padding-top: 45px;
}

.container > .underline {
    width: 20%;
    height:8px;
    background-color: rgb(0,196,162);
    margin-left:5px;
    margin-top: 9px;
}
/*CONTACT BOX*/

.contact_left {
    float:left;
    width:60%;
    box-sizing: border-box;
}
.contact_right {
    position:relative;
    float:left;
    width:30%;
    box-sizing: border-box;
    overflow: hidden;
    height:500px;
}
#red_armchair {
    background-image: url("img/red_chair.png");
    background-repeat:no-repeat;
    background-position: center;
    width:300px;
    height:300px;
    margin:auto;
}
.button_contact {
    width:100%;
    border-radius: 15px;
    display: block;
    font-size: 1.5em;
    margin-top:95px;
}

form{
    box-sizing: border-box;
    margin-top: 30px;
}
input[type=text] {
    border:2px solid rgb(0,196,162);
    display: block;
    width:85%;
    height:55px;
    margin-top:25px;
    font-size: 2em;
    color:rgb(157,157,157);
    padding-left:10px;
}
input[type=email] {
    display: block;
    width:85%;
    border:2px solid rgb(0,196,162);
    height:55px;
    margin-top:25px;
    font-size: 2em;
    color:rgb(157,157,157);
    padding-left:10px;
}

textarea{
    width:85%;
    height:233px;
    resize:none;
    border:2px solid rgb(0,196,162);
    overflow: auto;
    margin-top:25px;
    font-size: 2em;
    color:rgb(157,157,157);
    padding-left:10px;
    padding-top:10px;
}

/*CHECKBOX - jsfiddle.net/v2jcodpp*/

#checkbox{
    background-color: #ffffff;
    width:50px;
    height: 50px;
    position:absolute;
    left:30px;
    z-index: 1;
    border: 2px solid rgb(0,196,162);
    overflow: hidden;
}

#checkmark {
    width: 20px;
    height:40px;
    border:solid rgb(0,196,162);
    transform: rotate(45deg);
    border-width: 0 5px 5px 0;
    position: absolute;
    z-index: 1;
    left:13px;
}

.personal_data{
    width:80%;
    height:15%;
    float:right;
    font-size:1.5em;
    color:rgb(218,218,218);

}
/*------------------------------*/

/*FOOTER*/

#logo2 {
    box-sizing: border-box;
    float:right;
    margin: 10px;
}

.social_media{
    overflow: hidden;
    box-sizing: border-box;
    width:30%;
    height:100px;
    margin-top: 60px;
    float:right;
}

footer {
    color:lightgrey;
    background-color:#FFFFFF;
}

.all_in_grey {
    color:rgb(157,157,157);
}

#flickr {
    background-image: url("img/flickr.png");
    width:9%;
    height:47%;
    background-size: cover;
    float:left;
}

#twitter {
    background-image: url("img/twitter.png");
    width:9%;
    height:47%;
    background-size: cover;
    float:left;
}

#vimeo {
    background-image: url("img/vimeo.png");
    width:9%;
    height:47%;
    background-size: cover;
    float:left;
}
#pinterest {
    background-image: url("img/pinterest.png");
    background-size: cover;
    float:left;
    width:9%;
    height:47%;
}

.heading {
    width:33%;
    height:100px;
    display:inline-block;
    padding-top:50px;
}