header {

  .container{

    .row{
      display: flex;
      flex-wrap: nowrap;
      .col-3{

      }
      .col-6{

      }
      .col-3{
        overflow: hidden;
        display: flex;
        justify-content: center;
          .menu {

            .wrapper {

            }
        }
      }
    }
  }
  .container:nth-of-type(2){
    .row{
      .col-9{

      }
      .col-3{
        .menu{}
      }
    }
  }
}